# Ignore node_modules from all subprojects
**/node_modules

# Environment files
**/.env

# Build outputs
client/build
docs/build
server/dist

# OS + Editor stuff
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
