
:root{
    --color-base: #0d0d55;
    --color-text: #000;
    --color-bg: #fc07be;
    --color-filter: #8c9eff;
    --color-btn: #d3f44b;
    --color-clear: #1b88e5;

}


/* Default theme */
.theme-default {
    --color-base: #0d0d55;
    --color-text: #000;
    --color-bg: #fc07be;
    --color-filter: #8c9eff;
    --color-btn: #d3f44b;
    --color-clear: #1b88e5;
    --color-accent: #0d00ff;
}


/* Y2K / retro vibe */
.theme-y2k {
--color-base: #0d0d55;
    --color-text: #000;
    --color-bg: #fc07be;
    --color-filter: #8c9eff;
    --color-btn: #d3f44b;
    --color-clear: #1b88e5;
    --color-accent: #0d00ff;
}


/* Minimal */
.theme-minimal {
    --color-base: #eeeeee;
    --color-text: #000;
    --color-bg: #f7f7f7;
    --color-filter: #c3c3c3;
    --color-btn: #c73a3c;
    --color-clear: #c73a3c;
    --color-accent: #8b0002;
}


/* Vintage / earthy */
.theme-vintage {
    --color-base: #f3a99e;
    --color-text: #000;
    --color-bg: #f4c8bf;
    --color-filter: #aab8db;
    --color-btn: #fee6ce;
    --color-clear: #6a88be;
    --color-accent: #305593;
}