/* src/components/CustomerSidebar.css */
.csidebar {
  width: 250px;
  padding: 20px;
  border-right: 0px solid #000 !important;
  background-color: #4c53f9 !important;
  font-family: 'Plus Jakarta Sans', 'Noto Sans', sans-serif;
  
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
p {
  font-size: 16px;
  color: #000;
  text-align: center;
  padding: 20px;
}

.csidebar-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  cursor: pointer;
  color: #1b0e0e;
  transition: background-color 0.2s, color 0.2s;
  border: #000;
  border-style: solid;
  border-radius: 8px;
  margin-bottom: 10px;
  
}

.csidebar-item:hover {
  background-color: none !important;
  border-radius: 8px;
}

.csidebar-item.active {
  border-radius: 8px;
}

.csidebar-item svg {
  width: 24px;
  height: 24px;
  color: #000 !important;
  margin-left: 8px;
}

.csidebar-item p {
  font-size: 14px;
  font-weight: 600 !important;
  margin: 0;
}

/* Unique colors for each csidebar item */
.csidebar-item:nth-child(1) {
  background-color: #ff05be !important; /* hot pink */
}
.csidebar-item:nth-child(2) {
  background-color: #d3f44b; /* aqua blue */
}
.csidebar-item:nth-child(3) {
  background-color: #2102fe; /* neon yellow */
}
.csidebar-item:nth-child(4) {
  background-color: #5c68e8; /* orange */
}

.csidebar-item:nth-child(5) {
  background-color: #8c9eff ; /* hot pink */
}
.csidebar-item:nth-child(6) {
  background-color: #a78be9; /* aqua blue */
}
.csidebar-item:nth-child(7) {
  background-color: #2102fe; /* neon yellow */
}
.csidebar-item:nth-child(8) {
  background-color: #007dfd; /* orange */
}

.csidebar-item:nth-child(1):hover {
  background-color: #ec04ae !important; /* hot pink */
}
.csidebar-item:nth-child(2):hover {
  background-color: #bedd42; /* aqua blue */
}
.csidebar-item:nth-child(3):hover {
  background-color: #1b00ec; /* neon yellow */
}
.csidebar-item:nth-child(4):hover {
  background-color: #5763df; /* orange */
}

.csidebar-item:nth-child(5):hover {
  background-color: #8494f0 !important; /* hot pink */
}
.csidebar-item:nth-child(6):hover {
  background-color: #957ccf; /* aqua blue */
}
.csidebar-item:nth-child(7):hover {
  background-color: #1b00ec; /* neon yellow */
}
.csidebar-item:nth-child(8):hover {
  background-color: #0077ed; /* orange */
}

.csidebar-item:nth-child(1).active {
  background-color: #ec04ae !important; /* hot pink */
}
.csidebar-item:nth-child(2).active {
  background-color: #bedd42; /* aqua blue */
}
.csidebar-item:nth-child(3).active {
  background-color: #1b00ec; /* neon yellow */
}
.csidebar-item:nth-child(4).active {
  background-color: #5763df; /* orange */
}

.csidebar-item:nth-child(5).active {
  background-color: #8494f0 !important; /* hot pink */
}
.csidebar-item:nth-child(6).active {
  background-color: #957ccf; /* aqua blue */
}
.csidebar-item:nth-child(7).active {
  background-color: #1b00ec; /* neon yellow */
}
.csidebar-item:nth-child(8).active {
  background-color: #0077ed; /* orange */
}